.navbar-brand{
	padding-top: 12px;
}

.panel-default{
	margin-left:10px;
	margin-right:10px;
	background: #CDCDC1;
}

.alert{
margin-left:10px;
margin-right:10px;
background:#98FB98;
}

.alert-danger{
margin-left:10px;
margin-right:10px;
background:#E9967A;
}

.ng-link-panel{
float: right;
padding: 0px;
}

.ng-titulo-panel{
float:left;
padding-top: 2px;
}

