<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
<head>
	<title>Cadastro</title>
</head>

<section layout:fragment="conteudo">

    <form class="form-hotizontal" method="POST" action="/funcionario" th:object="${funcionario}">
		<div class="alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}">Alguns campos ficaram vazios!</span>
			</div>
		</div>
      	<div class="panel panel-default">
      	<div class="panel=heading">
      	<h1 class="panel-title">Cadastro</h1>
      	</div>  
      	<div class="panel-body">
      	
      		<div class="form-group">
    			<label class="col-sm-2 form-control-label" for="formGroupName">Nome</label>
    			<div class="col-sm-2">
    			<input type="text" class="form-control" id="formGroupName" placeholder="Nome" width="20" name="nome"/>
  				</div>
  			</div>
  			
  			<div class="form-group">
    			<label class="col-sm-2 form-control-label" for="formGroupNickname">Sobrenome</label>
    			<div class="col-sm-2">
    			<input type="text" class="form-control" id="formGroupNickname" placeholder="Sobrenome" name="sobrenome"/>
  				</div>
  			</div>
  			
  			<div class="form-group">
    			<label class="col-sm-2 form-control-label" for="formBirdDate">Data de Nascimento</label>
    			<div class="col-sm-2">
    			<input type="text" class="form-control" id="formBirdDate" placeholder="Data de Nascimento" name="birdDate"/>
  				</div>
  			</div>
  			
  			<div class="form-group">
    			<label class="col-sm-2 form-control-label" for="InputEmail">Email</label>
    				<div class="col-sm-3">
    				<input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email"/>
    				<small id="emailHelp" class="form-text text-muted">Nao compartilhe seu email com ninguem.</small>
    				</div>  					
  			</div>
  			
 			<div class="form-group">
    			<label class="col-sm-2 form-control-label" for="InputPassword">Senha</label>
    			<div class="col-sm-2">
    			<input type="password" class="form-control" id="InputPassword" placeholder="Senha" name="password"/>
  				</div>
  			</div>
  			
  			<div class="form-group">
    			<label class="col-sm-2 form-control-label" for="selectCargo">Cargo</label>
    			<div class="col-sm-2">
    			<select class="form-control" id="selectCargo" name="cargo">
      				<option th:each="cargoFuncionario : ${allCargosFuncionario}"
							th:value="${cargoFuncionario}" th:text="${cargoFuncionario.descricao}"></option>
    			</select>
    			</div>
  			</div>
  			<div class="form-check">
    			<label class="col-sm-2 form-check-label">
      				<div class="col-sm-10">
      				<input type="checkbox" class="form-check-input"/>
      				Aceito os termos
      				</div>	
    			</label>
  			</div>
  			
  			<div class="form-group">
  			<div class="col-sm-offset-2 col-sm-10">
  			<button type="submit" class="btn btn-primary">Proximo</button>
  			</div>
  			</div>
  			
      	</div>	      	
  		</div>
	</form>
</section>
</html>