<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<link rel="stylesheet" type="text/css" href="/css/botstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css}" />

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../static/images/logo-neppgamify.png" width="40" height="30" alt=""/>
            <ul class="navbar-nav mr-auto">
                <a class="nav-link" href="home">NeppoGamify</a>
            </ul>
        </a>
    </nav>



</html>